.card:hover{
  transform: scale(1.05);
  transition-duration: 1s, 1s;
  transition-timing-function: ease-in;

}
.container-form {
  display: inline;
  flex-direction: row;
  // justify-content: space-between;
  width: auto;
}

.address {
  width: 50%;
  display: inline-block;
}
.product{
  width: 49%;
  display: inline-block;
}

