.show-titles {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  width: 100%
}

.description {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clean {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

h2 {
  font-size: 148px !important;
}
