<h1>Containeroo</h1>
<p>Here is a banner!</p>
<p>In Germany 15 millions tons.........</p>
<%= link_to "Post Location of a Container", new_providers_container_path %>
<%= link_to "See Availiable Containers", customers_containers_path  %>
