<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1516355343298-f5ec74f67e05?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a86c98d1555b850a3cee0af74e2f8a6e&auto=format&fit=crop&w=1350&q=80');">
  <div class="banner-content">
    <h1><span id="banner-typed-text"></span></h1>
    <p>Save Food and store it many availiable Fridges in Berlin!</p>
    <p>If you see a Fridge, share! If you need a Fridge, search!</p>
    <%= link_to "Post Location of a Container", new_providers_container_path, class: "btn btn-primary"  %>
<%= link_to "See Availiable Containers", customers_containers_path, class: "btn btn-primary"  %>
  </div>
</div>



