<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

<h1>Good Luck!</h1>
<h2><%= @visit.container.supermarket %></h2>
<%= @visit.container.address %>
<%= @visit.container.product_category %>
