h1 {
  font-size: 75px;
  margin: 0px;
  text-align: center;
  // color: black;
}

h2 {
  font-size: 34px;
  margin: 0px;
  text-align: center;
  //border-style: solid;
  width: 100%;
  // color: black;

}
